<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>


<div template="main">
    <div id="articles" class="fill-container">
       <div class="docked-top">
            <h3>Articles</h3>
       </div>
       <div class="vertical-center filling">
           <div class="inner-container">
               <ul id="articlesList">

               </ul>
           </div>
       </div>
    </div>
</div>

<div template="article-row">
    <li class="">
        <div class="row-fluid">
            <div class="id span1"><%= id %></div><div class="title span5"><%= title %></div><div class="author span3"><%= author %></div>
            <div class="actions span3"><a>Edit</a></div>
        </div>
    </li>
</div>

<div template="edit">
    <div id="article" class="fill-container">
        <table>
            <tbody>
                <tr>
                    <td>
                        <h3 id="article-title" class="free-edit">Loading Article</h3>
                    </td>
                </tr>
                <tr class="controls">
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td id="" >
                        <textarea id="article-content" rows="1" ></textarea>
                    </td>
                </tr>
                <tr class="actions">
                    <td>
                        <fieldset>
                            <div class="row-fluid show-grid">
                                <div class="span9">&nbsp;</div>
                                <div class="span3"><input class="btn btn-primary" type="submit" value="Update"></div>
                            </div>
                        </fieldset>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>