<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>


<div template="main">
    <div id="articles" class="fill-container">
       <div class="docked-top">
            <h3>Articles</h3>
       </div>
       <div class="vertical-center filling">
           <div class="inner-container">
               <ul id="articlesList">

               </ul>
           </div>
       </div>
    </div>
</div>

<div template="article-row">
    <li class="">
        <div class="row-fluid">
            <div class="id span1"><%= id %></div><div class="title span5"><%= title %></div><div class="author span3"><%= author %></div>
            <div class="actions span3"><a>Edit</a></div>
        </div>
    </li>
</div>

<div template="edit">
    <div id="article" class="fill-container">
        <div class="docked-top">
            <h3 id="article-title">Article Name</h3>
        </div>
        <div class="vertical-center filling">
            <div class="inner-container">
                <textarea id="article-content" rows="5" ></textarea>
            </div>
        </div>
    </div>
</div>

</body>
</html>