<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<div template="main">
    <div id="header">
        <h3>Blogkit Administration</h3>
    </div>

    <div id="mainTabPanelArea" class="container panel">
        <ul id="mainNavBar" class="nav nav-tabs" >
            <li><a href="#home" data-toggle="tab">Home</a></li>
            <li><a href="#profile" data-toggle="tab">Profile</a></li>
            <li><a href="#messages" data-toggle="tab">Messages</a></li>
            <li><a href="#settings" data-toggle="tab">Settings</a></li>
        </ul>

        <div class="well">

        </div>
    </div>

    <div id="footer">
        copyright information
    </div>
</div>

</body>
</html>