<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<div template="main">
    <div id="header">
        <h3>Blogkit Administration</h3>
    </div>

    <div id="mainTabPanelArea" class="container panel">
        <ul id="mainNavBar" class="nav nav-tabs" >
        </ul>

        <div id="mainContent" class="well">

        </div>
    </div>

    <div id="footer">
        copyright information
    </div>
    <div class="modal hide" id="message-box">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Ok</a>
        </div>
    </div>
</div>

</body>
</html>