<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<div template="main">
    <div id="dashboard-view">
        <div class="row-fluid">
            <div id="dashboard-view-user-picture" class="span4">Level 2</div>
            <div id="dashboard-view-user-profile" class="span4"></div>
            <div class="span4">Level 2</div>
        </div>

        <div class="row-fluid">
            <div id="dashboard-articles-list" class="span6">Level 2</div>
            <div class="span6">Level 2</div>
        </div>
    </div>
</div>

<div template="articles-list">
    <table>
        <tbody>
            <tr>
                <th class="text" name="date">Date</th>
                <th class="text" name="title">Title</th>
            </tr>
            <tr class="data-row">
                <td class="date">

                </td>
                <td class="title">
                </td>
            </tr>
        </tbody>

    </table>
</div>

</body>
</html>