<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>


<div template="main">
    <div id="login">
       <div id="login-zone" class="span3">
           <div class="row1">
               <div class="inner-container">
                    <h2 class="button-gradient-shallow">LOGIN</h2>
               </div>
           </div>

           <div class="row2">
               <div class="inner-container">
                   <div class="fb-login-button">Login with Facebook</div>
                   <div class="fb-login-button" data-show-faces="true" data-width="200" data-max-rows="2"></div>
               </div>
           </div>

           <div class="row3">

           </div>
       </div>
    </div>
</div>

</body>
</html>