#_templateHookUp {
  display: none;
}
.vertical-center {
  position: relative;
}
.inner-container {
  position: absolute;
  top: 50%;
  width: 100%;
}
.inner-container div {
  margin-left: auto;
  margin-right: auto;
}
